pyright
python-lsp-server
jupyter-ai
jupyter-ai-magics
langchain-openai
langchain-anthropic
mypy
elpy
flake8
prospector

line_profiler
#jupyter
pylint
mypy
elpy

packaging

pytest

#jupyterlab
jupyter_copilot
