sympy
symengine
numpy # for symengine

delierium
line_profiler
jupyter
pylint
mypy

jupyterlab
jupyter_copilot

#python3-lsprotocol
#python3-pylsp
#python3-pylsp-mypy
#python3-pylsp-isort
#python3-pyslp-rope

more-itertools
